<nav class="animated fadeIn">
    <div class="logo-container">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/{{ site.logo }}" class="animated rotateIn"></a>
        <span>Arda C. Tugay</span>
    </div>
    <div class="menu-icon">
        <a>
            <i class="fa fa-bars fa-2x"></i>
            <i class="fa fa-times fa-2x" style="display: none;"></i>
        </a>
    </div>
    <div class="fluid-menu-container">
        <div id="nav-item-about"><a href="{{ site.url }}">About</a></div>
        <div id="nav-item-projects"><a href="{{ site.url }}/projects/">Projects</a></div>
        <div id="nav-item-skills"><a href="{{ site.url }}/skills/">Skills</a></div>
    </div>
</nav>
