<div id="skill-level-info-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>What do the skill levels mean?</h3>

    <div class="flex-container-column">
      <div class="description-container">
        <p>Indicates I have either dabbled with the technology (nothing more than experimentation for a few days/weeks) or have
          used it a long time ago.</p>
      </div>
      <div class="skill-container">
        <div class="skill-title">
          <h3>Novice</h3>
        </div>
        <div class="skill-level">
          <div class="signal-bar beginner active"></div>
          <div class="signal-bar intermediate"></div>
          <div class="signal-bar advanced"></div>
          <div class="signal-bar master"></div>
        </div>
      </div>
      <div class="description-container">
        <hr>
        <p>Indicates I have used the technology in a project before, but I will require access to documentation, examples, and
          some time to master it.</p>
      </div>
      <div class="skill-container">
        <div class="skill-title">
          <h3>Intermediate</h3>
        </div>
        <div class="skill-level">
          <div class="signal-bar beginner active"></div>
          <div class="signal-bar intermediate active"></div>
          <div class="signal-bar advanced"></div>
          <div class="signal-bar master"></div>
        </div>
      </div>
      <div class="description-container">
        <hr>
        <p>Indicates I have used the technology in a project before and can confidently work with it without constant access
          to documentation, examples, and help.</p>
      </div>
      <div class="skill-container">
        <div class="skill-title">
          <h3>Advanced</h3>
        </div>
        <div class="skill-level">
          <div class="signal-bar beginner active"></div>
          <div class="signal-bar intermediate active"></div>
          <div class="signal-bar advanced active"></div>
          <div class="signal-bar master"></div>
        </div>
      </div>
      <div class="description-container">
        <hr>
        <p>Indicates I have used the technology in a project before and can confidently work with it without access to examples
          and help. However, I still need access to documentation (or source code) to effectively use it, as I do not memorize
          this information.</p>
      </div>
      <div class="skill-container">
        <div class="skill-title">
          <h3>Master</h3>
        </div>
        <div class="skill-level">
          <div class="signal-bar beginner active"></div>
          <div class="signal-bar intermediate active"></div>
          <div class="signal-bar advanced active"></div>
          <div class="signal-bar master active"></div>
        </div>
      </div>
    </div>

    <a class="btn done">Done</a>
  </div>
</div>