<!-- Email -->
{% if site.email %}
<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>{%
endif %}
<!-- Twitter -->
{% if site.twitter %}
<a class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-twitter-square"></i></a>{%
endif %}
<!-- Facebook -->
{% if site.facebook %}
<a class="social-btn" href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-facebook-square"></i></a>{%
endif %}
<!-- LinkedIn -->
{% if site.linkedin %}
<a class="social-btn" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin-square"></i></a>{%
endif %}
<!-- Instagram -->
{% if site.instagram %}
<a class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a>{%
endif %}
<!-- Medium -->
{% if site.medium %}
<a class="social-btn" href="https://medium.com/{{ site.medium }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-medium"></i></a>{%
endif %}
<!-- GitHub -->
{% if site.github-url %}
<a class="social-btn" href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i></a>{%
endif %}
<!-- StackOverflow -->
{% if site.stackoverflow %}
<a class="social-btn" href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-stack-overflow"></i></a>{%
endif %}
<!-- YouTube -->
{% if site.youtube %}
<a class="social-btn" href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube-square"></i></a>{%
endif %}
<!-- YouTube Channel -->
{% if site.youtube-channel %}
<a class="social-btn" href="https://youtube.com/channel/{{ site.youtube-channel }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i></a>{%
endif %}