<div class="post-list">
  {% for project in site.projects %} {% if (project.type == include.projectType) and (project.hide == false) %}
  <ul>
    <li class="post-summary">
      <div class="flex">
        <div class="item image">
          {% if project.thumbnail %}
          <a href="{{ site.url }}{{ project.url }}"><img style="{{ project.thumbnailCustomCSS }}" src="{{ site.url }}/assets/img/projects/thumbnails/{{ project.thumbnail }}"></a>          {% endif %}
        </div>
        <div class="item description">
          <a href="{{ site.url }}{{ project.url }}">
            <h3><i class="fa fa-hand-pointer-o"></i>{{ project.title }}</h3>
            <p>{{ project.excerpt }}</p>
          </a>
        </div>
      </div>
    </li>
    <hr>
  </ul>
  {% endif %} {% endfor %}
</div>