.flex-header {
  display: flex;

  .back-button, .info {
    flex: 0 1 30%;

    @media #{$small} {
      flex: none;
    }
  }

  .title {
    flex: 1 0 40%;

    @media #{$small} {
      flex: 0 1 100%;
    }
  }
}
