.flex-header {
  display: flex;

  & > .back-button, & > .info {
    flex: 0 1 30%;
  }

  & > .info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  & > .title {
    flex: 1 0 40%;

    @media #{$small} {
      flex: 0 1 100%;
    }
  }
}
