footer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-top: 1px solid $text-color;
  position: fixed;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  background-color: #fff;
  z-index: 1;

  @media #{$small} {
    height: $footer-small-height;
  }

  @media #{$large} {
    height: $uhd-footer-height;
  }

  .social-btn {
    display: flex;
    align-items: center;
    flex: 0 0 4em;
    background: $white;
    color: $text-color;

    &:hover {
      color: $active-element-color;
    }

    i {
      font-size: 1.5em;
      width: 100%;

      @media #{$small} {
        font-size: 1.25em;
      }
    }
  }
}
