@mixin item-highlight($width) {
  background-color: $nav-link-hover;
  box-shadow: inset 0 $width 0 $text-color;
}

nav {
  position: fixed;
  top: 0;
  height: $nav-height;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid $text-color;
  display: flex;
  transition: all .25s ease;

  &.shrink {
    height: 40px;

    & > .logo-container {
      & > .logo {}

      & > span {
        font-size: 1em;
      }
    }

    & > .menu-icon > a {
      padding-bottom: 0;
      padding-top: 0;
    }

    & > .fluid-menu-container {
      top: 40px;
    }
  }

  &.menu-open {
    border-bottom: none;
  }

  & > .logo-container {
    display: flex;
    flex: 0 0 25%;
    align-items: center;

    @media #{$small} {
      padding-left: 20px;
      flex: 0 0 50%;
    }

    .logo {
      height: 50px;
      width: 50px;
      margin-left: 40px;

      & > img {
        border-radius: 50%;
      }

      @media #{$small} {
        display: none;
      }
    }

    & > span {
      font-size: 1.15em;
      vertical-align: middle;
      padding-left: 0.67em;

      @media #{$small} {
        padding: 0;
      }
    }
  }

  & > .fluid-menu-container {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
    align-items: stretch;

    @media #{$small} {
      // jQuery will add "flex"
      display: none;
      flex: none;
      flex-direction: column;
      justify-content: initial;
      align-items: stretch;
      position: absolute;
      top: 70px;
      right: initial;
      width: 100%;
      line-height: initial;
      border-bottom: solid 1px $text-color;
      background-color: #fff;
    }

    & > div {
      & > a {
        text-decoration: none;
        padding: 0 25px;
        display: inline-block;
        color: $text-color;
        line-height: 70px;

        @media #{$small} {
          width: 100%;
          padding: 0;
          text-align: center;
        }

        &:hover {
          color: $text-color;
        }
      }

      &.active {
        @include item-highlight(-3px);

        @media #{$small} {
          box-shadow: none;
        }
      }

      &:hover:not(.active) {
        @include item-highlight(-1px);

        @media #{$small} {
          box-shadow: none;
        }
      }
    }
  }

  & > .menu-icon {
    display: none;

    @media #{$small} {
      display: flex;
      padding-right: 10px;
      flex: 0 0 50%;
      align-items: center;
      justify-content: flex-end;
    }

    & > a {
      color: $text-color;
      padding: 10px;
      display: inline-block;

      &:hover {
        color: $text-color;
      }

      & > i {
        display: block;
      }
    }
  }
}
