@mixin item-highlight($width) {
  background-color: $nav-link-hover;
  box-shadow: inset 0 $width 0 $text-color;
}

nav {
  top: 0;
  position: fixed;
  min-height: $nav-height;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid $text-color;
  background-color: #fff;

  & > .fluid-container {
    height: $nav-height;
    position: absolute;
    left: 40px;
    right: 40px;

    & > .logo-container {
      display: inline-block;
      height: 100%;
      line-height: $nav-height;

      .logo {
        height: 50px;
        width: 50px;
        display: inline-block;
        vertical-align: middle;

        & > img {
          border-radius: 50%;
        }
      }

      & > span {
        font-size: 1.15em;
        vertical-align: middle;
        padding-left: 0.67em;
      }
    }

    & > .fluid-menu-container {
      display: inline-block;
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: $nav-height;

      & > .menu-items {
        height: 100%;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            display: inline-block;
            cursor: pointer;
            transition: background-color $nav-link-hover-transition ease-in-out, box-shadow $nav-link-hover-transition ease-in-out;

            & > a {
              text-decoration: none;
              padding: 0 25px;
              height: 100%;
              display: inline-block;

              &:hover {
                color: $text-color;
              }
            }

            &.active {
              @include item-highlight(-3px);
            }

            &:hover:not(.active) {
              @include item-highlight(-1px);
            }
          }
        }
      }
    }
  }
}
