.post-list {
	text-align: left;
	ul {
		list-style: none;
		padding-left: 0;
	}
	li {
		padding: 10px 18px;
		margin: 0 10px;
		text-decoration: none;
		background: $white;
    color: $color_shark;
    
    &.post-summary {
      border: 1px solid;
      border-radius: $border-radius;
    }

    a {
      text-decoration: none;
      color: $color_shark;
      font-weight: bolder;

      &.title {
        @include font-rem(20);
      }

      &:hover {
        color: $red;
      }
    }
		p {
			font-weight: lighter;
			@include font-rem(16);
		}
	}
}