@media print {
  body {
    background-image: none !important;
    background-color: $white;
  }

  .container {
    box-shadow: none;
  }

  .feature {
    padding: 0;
  }

  .social-btn, .btn {
    border-color: $color_mischka;
  }

  .post-title .btn,
  .reading-time,
  #disqus_thread,
  .goup-container {
    display: none;
  }
}
