.flex-header {
  h1 {
    margin: 0;
  }

  & > .col-3.back-button {
    display: flex;
    align-items: center;
  }

  a {
    & > i {
      vertical-align: middle;
    }

    & > span {
      vertical-align: middle;
    }
  }
}
