.project-content {
  h2 {
    text-align: center;
    margin: 0;
  }

  .flex {
    display: flex;
    align-items: center;

    @media #{$text-small} {
      flex-direction: column;
      justify-content: center;
    }

    &:hover {
      cursor: pointer;

      img {
        @include default-box-shadow(0.5);
      }

      a {
        color: $active-element-color;
      }
    }

    .item {
      flex: 1 1 20%;

      @media #{$text-small} {
        flex: 1 1 auto;
      }

      &.image {
        max-width: 30%;

        @media #{$text-small} {
          max-width: 80%;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;

          img {
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            max-height: 200px;
            transition: box-shadow .25s ease-in-out;
          }
        }
      }

      &.description {
        & > a {
          h3 {
            i {
              display: none;

              @media #{$text-small} {
                display: unset;
                margin-right: .67em;
              }
            }

            text-align: left;

            @media #{$text-small} {
              margin: 0;
              text-align: center;
            }
          }

          p {
            @media #{$text-small} {
              display: none;
            }
          }
        }
      }
    }
  }
}
