html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $primary-font;

  @include font-rem($doc-font-size);

  @media #{$large} {
    @include font-rem($uhd-font-size);
  }

  color: $color_tuatara;
  background-position: center center;
  background-attachment: fixed;

  @media #{$small} {
    background-image: none !important;
    background: $white;
  }
}

* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

.header {
  height: 100%;
  position: relative;
  width: 100%;
  min-height: 300px;
  text-align: left;
  color: $white;

  @media #{$small} {
    display: block !important;
    margin-top: 0;
  }

  @media only screen and (max-height: 500px) {
    display: block !important;
  }
}

@mixin container-base($width) {
  width: $width;
  margin: 0 auto;
  margin-top: $nav-height;
  margin-bottom: $footer-height;
  color: $text-color;

  @media #{$large} {
    width: $width + 16;
    margin-top: $uhd-nav-height;
  }

  @include transition(0.5s);

  @media #{$text-small} {
    width: 100%;
    padding: 0 20px;
  }

  .about-article {
    padding: 15px 0;

    @media #{$text-small} {
      padding: 0;
    }

    img.profile-pic {
      float: left;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin-right: 25px;
      object-fit: cover;

      @media #{$text-small} {
        float: none;
        margin: 0 auto;
        padding: 20px;
        width: 200px;
        height: 200px;
      }
    }

    & > .text {
      text-align: justify;
    }

    & > .large-text {
      font-size: 1.5em;
      line-height: 1.5em;

      @media #{$text-small} {
        font-size: 1.35em;
      }
    }

    & > .medium-text {
      font-size: 1.15em;
      line-height: 1.5em;

      @media #{$text-small} {
        font-size: 1.1em;
      }
    }

    & > .small-text {
      font-size: 1em;
      line-height: 1.5em;
    }

    a {
      color: $active-element-color !important;
      font-weight: 500;
      text-decoration: none;
      transition: color .15s ease-in-out;

      &:hover {
        color: $active-element-hover-color;
      }
    }
  }
}

.container {
  @include container-base(40rem);
}

.container-medium {
  @include container-base(56rem);
}

.container-wide {
  @include container-base(72rem);
}

nav.shrink + div.container {
  margin-top: $nav-shrink-height;
}

.goup-container {
  z-index: 2;
  bottom: 60px !important;
}

#disqus_thread {
  padding: 2em;

  @include transition(0.5s);

  @media #{$small} {
    padding: 2em 0;
  }
}

// entry meta
.entry-meta {
  @include font-rem(12);

  text-transform: uppercase;
  color: lighten($color_tuatara, 60);
  padding-left: 0;

  a {
    color: lighten($color_tuatara, 60);
  }

  li {
    list-style-type: none;
    display: inline;
  }

  .tag {
    display: inline-block;
    border: 1px solid;
    border-color: rgba($color_mercury, 0.5) rgba($color_bon_jour, 0.5) $color_mischka;

    @include rounded(3px);

    text-decoration: none;
    background-color: $white;
    color: $color_tuatara;

    @include transition(0.75s);

    margin: 2px 5px;

    span {
      float: left;
      padding: 2px 6px;
    }

    .count {
      background-color: darken($white, 15);

      @include border-radius(3px, 3px, 0, 0);
    }

    &:hover {
      background-color: darken($white, 15);
      box-shadow: 0 0 1px 0 rgba($color_shark, 0.5);
    }
  }
}

header .entry-meta {
  display: none;
}

.entry-title a {
  text-decoration: none;
}

.entry-tags {
  display: block;
  margin-top: 1rem;
  width: 70%;
  float: left;
  text-align: left;
}

.social-share {
  display: block;
  margin-top: 1rem;
  width: 30%;
  float: right;
  text-align: right;
}

.feature {
  @include transition(0.5s);

  @media #{$small} {
    background-image: none !important;
  }

  @media #{$medium} {
    color: white;
    padding: 4em;
    margin-left: -4rem;
    margin-right: -4rem;
    margin-top: -2rem;
    border-radius: 3px 3px 0 0;
    background-color: rgba($black, 0.6);
    background-blend-mode: multiply;
    background-position: center center;
  }

  // @media #{$notsmall} {
  //   color: white;
  //   padding: 10em;
  //   margin-left: -4rem;
  //   margin-right: -4rem;
  //   margin-top: -2rem;
  //   border-radius: 3px 3px 0 0;
  //   background-color: rgba($black, 0.6);
  //   background-blend-mode: multiply;
  //   background-position: center center;
  // }
}

html.can-touch {
  a:hover {
    color: $text-color;
  }

  .about-article a:hover {
    color: $active-element-color;
  }
}
