$signal-base-width: 10px;
$signal-base-height: 12px;

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  & > .skill-container {
    display: flex;
    flex: auto;
    border: solid 1px $color_stack;
    border-radius: $border-radius;
    border-color: rgba($color_stack, 0.4) rgba($color_stack, 0.4) $color_stack;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    cursor: pointer;

    & > .skill-title {
      padding-right: 1em;
      text-align: right;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    & > .skill-level {
      & > .signal-bar {
        width: $signal-base-width;
        background-color: $color_mischka;
        border-radius: $border-radius;
        display: inline-block;

        &.beginner {
          height: $signal-base-height;
        }

        &.intermediate {
          height: $signal-base-height + $signal-base-height;
        }

        &.advanced {
          height: $signal-base-height + $signal-base-height * 2;
        }

        &.master {
          height: $signal-base-height + $signal-base-height * 3;
        }

        &.active {
          background-color: $info;
        }
      }
    }
  }
}

#tags {
  display: flex;
  align-items: center;

  h2 {
    margin-right: 10px;
  }

  & > .tag-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .btn {
    outline: none;
    white-space: nowrap;
    margin: 5px;

    &.selected {
      color: $red;
    }
  }
}

.skill-details-modal {
  display: none;

  // Hidden by default
  position: fixed;
  z-index: 1;

  // Always on top when shown
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);

  & > .modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid $color_stack;
    border-radius: 10px;
    width: 30%;
    text-align: right;

    & > p, li, h3 {
      text-align: left;
    }

    & > .close {
      font-weight: bold;
      float: right;
      color: $color_stack;
      font-size: 32px;
      transition: color .15s ease-in-out;

      &:hover {
        color: $red;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
