$signal-base-width: 10px;
$signal-base-height: 12px;

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  & > .skill-container {
    display: flex;
    flex: auto;
    border: solid 1px $color_stack;
    border-radius: $border-radius;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;

    & > .skill-title {
      padding-right: 1em;
      text-align: right;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    & > .skill-level {
      & > .signal-bar {
        width: $signal-base-width;
        background-color: $color_mischka;
        border-radius: $border-radius;
        display: inline-block;
        margin: 1px;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        &.beginner {
          height: $signal-base-height;
        }

        &.intermediate {
          height: $signal-base-height + $signal-base-height;
        }

        &.advanced {
          height: $signal-base-height + $signal-base-height * 2;
        }

        &.master {
          height: $signal-base-height + $signal-base-height * 3;
        }

        &.active {
          background-color: green;
        }
      }
    }
  }
}

#tags {
  display: flex;
  align-items: center;

  h2 {
    margin-right: 10px;
  }

  & > .tag-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .btn {
    outline: none;
    white-space: nowrap;
    margin: 5px;

    &.selected {
      color: $red;
    }
  }
}
