--- layout: compress ---
<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include nav.html %}
    <div class="container">
        <article class="about-article">
            <p class="main-text">Hi there, I'm Arda, a software engineer who architects and develops software to <a href="#">improve users' experiences</a>.
                Previously at <a href="#">BP3</a>, I have experience in <a href="#">full-stack</a>, <a href="#">custom applications</a>,
                and <a href="#">experimental applications</a> development, as well as <a href="#">consulting</a>. I am also
                working on side projects, like <a href="#">Budgeting</a>.</p>
            <p class="sub-text">I am currently focused on growing my <a href="#">Data Science and Machine Learning</a> skills, particularly interested
                how I can utilize Machine Learning to provide better experiences for end users.</p>
            <p class="sub-text">On my own time, I enjoy learning about other <a href="#">software engineering branches</a>, while <a href="#">taking photos</a>,
                playing instruments, and playing video games to unwind.</p>
            <hr>
            <h2>More About Me</h2>
        </article>
    </div>

    <header class="header" role="banner">
        <div class="container animated fadeIn">
            <div class="row">

                <h3 class="title">
                    <a class="zoombtn" href="{{ site.url }}">
                        <p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
                    </a>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <a href="{{ site.url }}">
                        <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
                    </a>
                </h3>
                {% include social-links.html %}
                <hr class="hr-line">
                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Posts
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/resume">
                        Resume
                   </a>
                    <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                    </a>
                    <a class="btn zoombtn" href="{{ site.url}}/skills">
                        Skills
                    </a>
                </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>

</html>