---
layout: compress
---
<html class="no-js">

<head>
    {% include head.html %}
</head>

<body>
{% include nav.html %}
<div class="container animated fadeIn">
    <article class="about-article">
        <p class="text large-text"><img class="profile-pic" src="{{ site.url }}/assets/img/profile-pic.jpg">Hello! I’m
            Arda, a software engineer with a breadth of experience in <a
                href="{{ site.url }}/projects/bp3-brazos-portal-2/">full-stack</a>, <a
                href="{{ site.url }}/projects/bp3-testing-framework/">custom</a> and <a
                href="{{ site.url }}/projects/bp3-bpmcamp-2016-opencv/">experimental</a> application development. My
            passion centers around building <a href="{{ site.url }}/projects/bp3-bpmcamp-2016-presentation/">engaging
                user experiences</a> and designing creative, effective and maintainable solutions to challenging
            problems. But that doesn’t stop here; I’m an adept learner with a <a
                href="{{ site.url }}/projects/personal-online-courses/">curiosity for new and diverse skills</a> to
            cultivate and <a href="{{ site.url }}/projects/personal-budgeting-app/">apply</a>. When I’m not coding, I
            enjoy <a href="https://www.shutterstock.com/g/ardact?rid=245509924&utm_medium=email&utm_source=ctrbreferral-link">
            outdoor photography</a>, astronomy, music and playing video games.</p>
        <p class="text large-text">
            Interested in what I do? <a href="mailto:{{ site.email }}">Contact me</a>!</p>
        <hr>
        <h2>More About Me</h2>
        <p class="text small-text">My years of experience interfacing with engineers and customers had formative
            influence on my programming philosophy: Software Architecture, Software Design and User Experience are
            paramount to creating maintainable, profitable and enjoyable software. Therefore, I invest time in widening
            my exposure and keeping up with technology trends in order to apply them effectively and innovatively in my
            career. Developing applications that utilize <a href="{{ site.url }}/projects/bp3-bpmcamp-2016-opencv/">OpenCV’s
                image recognition<a/> capabilities, while <a href="{{ site.url }}/projects/bp3-brazos-portal-2/">introducing
                    tools like Webpack and frameworks like Spring Boot and Angular 2+ into full-stack applications</a>
                were part and parcel of my work as an engineer in the Business Process Management industry.</p>
        <h3>Education</h3>
        <p class="text small-text">In 2014, I graduated from the <a
            href="https://www.usnews.com/best-colleges/rankings/engineering-overall">top undergraduate engineering
            college</a> in the United States, located in Terre Haute, Indiana, with a double major (Bachelor of Science)
            in Computer Science and Software Engineering. During college, I was prominently involved in the Residence
            Hall Association and the Student Activities Board.</p>
        <h3>Work</h3>
        <p class="text small-text">Upon graduation, I spent 3 years as a Full-Stack Software Engineer at <a
            href="https://www.bp-3.com/">BP3 Global</a>, where I occasionally provided consultations to customers.
            Often, I worked in teams to gather requirements, architect, design, implement, test, release and maintain
            full-stack products. Furthermore, I had the opportunity to conduct independent Research and Development on
            specialized applications for internal use or potential new products. I am familiar with Agile development
            practices in the workplace environment, including Scrum (Daily standups and 1-2 week long sprints), and
            Kanban, which was introduced upon the assignment of projects driven by customer feature requests.</p>
        <h3>Outside of Work</h3>
        <p class="text small-text">I have varied interests, aside from software and engineering. Through college, I
            played in a charitable band for Juvenile Diabetes Research fundraising. In 2017, I organized company social
            meetups in Austin, Texas to teach landscape photography to my fellow coworkers. Traveling to immerse in new
            cultures and cuisine is also one of my top hobbies. Some might say I’m a great Mediterranean cook! Lastly,
            video games involving strategy and adventure are among my favorite genres to play.
    </article>
</div>

<footer>
    <div class="col-3 empty"></div>
    <div class="col-3 social-links">
        {% include social-links.html %}
    </div>
    <div class="col-3 info">
        <p>Designed and Developed by Arda C. Tugay</p>
    </div>
</footer>
{% include scripts.html %}
</body>

</html>
