---
layout: compress
---
<html class="no-js">

<head>
    {% include head.html %}
</head>

<body>
{% assign skills = site.skills | sort: 'level' | reverse %}
<!-- Nav -->
{% include nav.html %}
<!-- Header -->
<div class="container-medium animated fadeIn photos">
    <div class="content">
        <div class="flex-header">
            <div class="title">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="flex-container">
            {% for i in (1..27) %}
            <div class="thumbnail-container" data-photo-num="{{ i }}">
                <img src="{{ site.url }}/assets/photography/thumbnails/{{ i }}.jpg">
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="photo-large-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="image">
        </div>
    </div>
</div>

<!-- Scripts -->
{% include scripts.html %}
<!-- Custom Scripts -->
{% javascript custom/photos.js %}
</body>

</html>
