--- layout: compress ---
<!DOCTYPE html>
<html class="no-js">

<head>
    {% include head.html %}
</head>

<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="container-wide animated fadeIn">
            <div class="content">
                {% include page-header.html %}
                <div class="post-list">
                    {% for post in site.posts %} {% if post.project == null %}
                    <ul>
                        <li class="post-summary">
                            <a class="title zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            <p>{{ post.excerpt }} <a href="{{ site.url }}{{ post.url }}">Read More</a></p>
                        </li>
                    </ul>
                    {% endif %} {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>

</html>