--- layout: compress ---
<!DOCTYPE html>
<html class="no-js">

<head>
    {% include head.html %}
</head>

<body>
    {% include nav.html %}
    <!-- Header -->
    <article>
        <div class="container-wide animated fadeIn">
            <div class="content project-content">
                <h2>Work-Related Projects</h2>
                {% include project-list.html projectType="work" %}
                <h2>Personal Projects</h2>
                {% include project-list.html projectType="personal" %}
                <h2>You can find more about my Open Source projects on my <a href="http://github.com/{{ site.github-url }}" target="_blank"
                        rel="noopener noreferrer">GitHub</a> page.</h2>
            </div>
        </div>
    </article>
    {% include scripts.html %}
</body>

</html>