---
layout: compress
---
<html class="no-js">

<head>
    {% include head.html %}
</head>

<body>
{% include nav.html %}
<!-- Content -->
<div class="container-wide animated fadeIn">
    <div class="content project-descriptions">
        <h1>Work-Related Projects</h1>
        {% include sub-project-list.html projectType="work" %}
        <h1>Personal Projects</h1>
        {% include sub-project-list.html projectType="personal" %}
        <p style="text-align: center;">You can find more about my Open Source projects on my <a
            href="http://github.com/{{ site.github-url }}" target="_blank"
            rel="noopener noreferrer">GitHub</a> page.</p>
        <h1>Achievements</h1>
        {% include sub-project-list.html projectType="achievement" %}
    </div>
</div>
{% include scripts.html %}
</body>

</html>
