<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  {% include head.html %}
</head>

<body>
  {% include nav.html %}
  <!-- Header -->
  <header class="header" role="banner">
    <div class="wrapper animated fadeIn">
      <div class="content">
        {% include page-header.html %}
        <div id="tags">
          <h2>Tags</h2>
          <div class="tag-buttons">
            <button class="btn" id="web-dev">Web Dev</button>
            <button class="btn" id="ios">iOS</button>
            <button class="btn" id="data-science">Data Science</button>
            <button class="btn" id="server">Server</button>
            <button class="btn" id="networking">Networking</button>
            <button class="btn" id="databases">Databases</button>
          </div>
        </div>
        <div id="programming-language-list">
          <h2 style="text-align: center">Programming Language Skills</h2>
          <div class="flex-container"></div>
        </div>
        <div id="framework-library-list">
          <h2 style="text-align: center">Framework and Library Skills</h2>
          <div class="flex-container"></div>
        </div>
        <div id="runtime-software-list">
          <h2 style="text-align: center">Runtime Environment and Software Skills</h2>
          <div class="flex-container"></div>
        </div>
      </div>
    </div>
  </header>
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/wow.min.js"></script>
  <script src="{{ site.url }}/assets/js/custom/skill-list.js"></script>
  <script type="text/javascript">
    (new WOW).init();
  </script>
</body>

</html>
